In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./deeplearning-assignment-data/my_emotion_train.csv')

In [3]:
data.head(10)

      id  emotion                                             pixels
0   9415        6  29 16 18 18 18 20 19 18 17 17 17 18 17 18 17 1...
1  19109        3  126 154 167 181 188 194 195 194 196 195 198 20...
2  21523        2  169 220 218 208 184 144 72 73 143 183 203 210 ...
3   2076        3  60 64 72 80 83 83 80 82 89 106 114 125 125 127...
4  13957        3  174 148 121 97 78 70 62 57 54 54 42 58 40 64 1...
5  24794        6  60 25 28 18 5 3 11 30 14 13 48 105 129 104 107...
6   7099        6  42 46 59 63 75 93 111 115 121 127 132 138 143 ...
7  14912        2  215 212 214 223 230 229 231 233 233 234 234 23...
8  24418        3  248 255 183 71 75 123 133 115 82 62 56 52 51 5...
9  25170        4  156 66 120 68 0 5 2 7 0 65 209 234 237 253 160...

In [4]:
data['emotion'].value_counts()

3    7289
6    4992
4    4942
2    4138
0    3993
5    3206
1     440
Name: emotion, dtype: int64